<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Aaron & Dawn 2017</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static',filename='css/theme.css')}}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ url_for('static',filename='font-awesome/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    
    <!-- Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top navbar-absolute" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle burgermenu" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse dark">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="page-scroll">
                        <a class="page-scroll" href="#page-top">Home</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#party">I Do Crew</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#wedding">Events</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#travel">Travel</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#activities">Activities</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#faq">FAQ</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#registry">Registry</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading" style="margin-bottom:0px;">Dawn</h1>
                        <img class="mountain-logo" src="{{ url_for('static',filename='img/mountain.png')}}"/>
                        <h1 class="brand-heading">Aaron</h1>
                        <h1>September 30, 2017</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="about" class="container content-section text-center">
        <div class="section-default white-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>About Us</h2>
                        <div class="row">
                           <div class="col-md-4">
                                <h3 class="name">Dawn</h3>
                                <p>I was born and raised in Central New York. I began my college education at RIT where I met Aaron, and finished my Bachelor's degree at SUNY Brockport. I'm eagerly awaiting our new adventures in Maine. I enjoy the outdoors, not wearing pants, obsessing over our rescue dog, listening to sad white girl music, yelling at video games, and general cheeky shenanigans. 
                            </div>
                            <div class="col-md-4">
                                <img src="{{ url_for('static',filename='img/usbest.jpg') }}" class="img-round"/>
                            </div>
                            <div class="col-md-4">
                                <h3 class="name">Aaron</h3>
                                <p>I was born and raised in Naples, NY. I received my Bachelor’s degree in computer engineering from RIT in 2014, and then I took a casual five-month long walk from Maine to Georgia. I'm currently wrapping up my Master’s degree in Geography from the University of Utah. In my free time I enjoy hiking, biking, working on projects, and watching the Bills lose.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="extra-top-margin">How We Got Here</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <h4 class="h-speaker">Dawn</h4>
                        <p>Four years ago, I was just a girl who had a crush on a guy who had a girlfriend. And I had to do the hardest thing that I've ever had to do, which was just to...wait. And a lot of people told me I was crazy to wait this long for a date with a friend but I think, even then, I knew I was waiting for my husband. Okay, I totally ripped that off of The Office, but it does a really nice job of summarizing our story.
                        <p>Aaron and I met at the beginning of our Freshman year at RIT. We talked a bit that year, but it wasn’t love at first sight. When I moved to Florida, we stayed in touch by playing xbox together. I found myself staying up late every night just to talk to Aaron about our days. The more I learned about him, the deeper my feelings grew. We remained "just best friends" for a long time. But when I moved back to New York, I took a chance and expressed my feelings to him. Turns out he felt the same way all along. Who knew?  
                    </div>
                    <div class="col-md-4">
                        <img class="img-round" src="{{ url_for('static',filename='img/us3.jpg') }}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-push-4">
                        <h4 class="h-speaker">Aaron</h4>
                        <p>I guess I’ll pick up where Dawn left off. We began our official relationship in August of 2013, but I felt like we already had years of foundation beneath us. Since then we've enjoyed sharing the adventures of life together. I knew pretty early on that Dawn was the "one", but it wasn’t until after I had a better idea of the ring that I put the gears in motion.
                        <p>We made plans to do a hike in the Adirondacks on the morning of New Year’s Eve. We ended up choosing Bald Mountain, and even though we've both hiked it many times, seeing it so quiet, covered with fresh snow was uniquely beautiful. When the other hikers cleared out, I expressed to Dawn how much she meant to me, before I got down on one knee and asked her to marry me. She said yes, which made the hike down a lot easier than the nerve-wracking hike up!
                    </div>
                    <div class="col-md-4 col-md-pull-8">
                        <img class="img-round" src="{{ url_for('static',filename='img/us1.jpg') }}"/>
                    </div>
                </div>
            </div>
        </div>
    </section>
                
                
    <section id="party" class="container content-section text-center">
        <div class="section-default white-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2> Wedding Party</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="row">
                            <img src="{{ url_for('static',filename='img/ben1.jpg') }}" class="img-round-small"/>
                        </div>
                        <div class="row">
                            <h5 class="party-name">Ben: Man of Honor</h5>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <p>We met at the end of my first semester at Brockport and we’ve been ignoring the world around us ever since. Ben is the funniest person I know, who also has one of the kindest hearts of anyone I know. He is currently finishing his Master’s degree in Microbiology at Brockport, where he also TA's classes. Ben enjoys mac and cheese, hiking, biking, whiskey, playing video games, and making people laugh.  
                    </div>
                    <div class="col-md-2  col-md-push-4">
                        <div class="row">
                            <img src="{{ url_for('static',filename='img/jason1.jpg') }}" class="img-round-small"/>
                        </div>
                        <div class="row">
                            <h5 class="party-name">Jason: Best Man</h5>
                        </div>
                    </div>
                    <div class="col-md-4  col-md-pull-2">
                        <p>Jason is my youngest brother, and one of my best friends. Though we've always been competitive toward one another, he's quick to lend support and encouragement. He has a thoughtful and charismatic personality making him a great fit for my best man. Jason is currently studying Business at Robert’s Wesleyan College. He enjoys hunting, fishing, sports, and “trying” to beat me at things. 
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-2">
                        <div class="row">
                            <img src="{{ url_for('static',filename='img/maggie1.jpg') }}" class="img-round-small"/>
                        </div>
                        <div class="row">
                            <h5 class="party-name">Maggie: Bridesmaid</h5>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <p>Maggie and I became friends when we became roommates at Brockport. She is one of the most delightful people I’ve ever met. She’s always choosing to see the sunny side of things. Maggie graduated from Brockport in 2016, and currently resides in North Carolina, where she’s a nurse. In her free time, she enjoys traveling, spending time with her friends and family, and enjoying the outdoors.
                    </div>
                    <div class="col-md-2 col-md-push-4">
                        <div class="row">
                            <img src="{{ url_for('static',filename='img/kerk1.jpg') }}" class="img-round-small"/>
                        </div>
                        <div class="row">
                            <h5 class="party-name">Ben: Groomsman</h5>
                        </div>
                    </div>
                    <div class="col-md-4 col-md-pull-2">
                        <p>Ben aka "Kerk" is my younger brother. He shares my thirst for adventure and ability to adapt to changes in plans. However, Kerk’s trips are cursed or something, so if he tries to convince you to join him on a pre-wedding hike, I’d decline. Kerk is wrapping up his final year at WPI where he studies Biomedical engineering. He enjoys traveling, hiking, playing games, and building cool things.
                    </div>
                </div>
            
                <div class="row">
                    <div class="col-md-2">
                        <div class="row">
                            <img src="{{ url_for('static',filename='img/sean1.jpg') }}" class="img-round-small"/>
                        </div>
                        <div class="row">
                            <h5 class="party-name">Sean: Bridesman</h5>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <p>I met Sean roughly eight years ago, when he started tagging along with his older cousin who is one of my oldest friends. We realized pretty early on that our mutual interests warranted our own friendship. We dig the same movies, shows, games and music. Sean attends SUNY Polytechnic where he studies Computer Science. He likes playing video games, creating music, and making cool shit.
                    </div>
                    <div class="col-md-2  col-md-push-4">
                        <div class="row">
                            <img src="{{ url_for('static',filename='img/scott1.jpg') }}" class="img-round-small"/>
                        </div>
                        <div class="row">
                            <h5 class="party-name">Scott: Groomsman</h5>
                        </div>
                    </div>
                    <div class="col-md-4  col-md-pull-2">
                        <p>I met Scott when we were Freshman at RIT. Scott and I became roommates later that year, and continued on as roommates through most of college. Scott’s lighthearted humor and fun personality forced me to actually have fun in college – we spent a lot of time skiing, playing racquetball, and turning everything into a competition. Scott currently lives in Houston where he works as a mechanical engineer.
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-2">
                        <div class="row">
                            <img src="{{ url_for('static',filename='img/brionna1.jpg') }}" class="img-round-small"/>
                        </div>
                        <div class="row">
                            <h5 class="party-name">Brionna: Bridesmaid</h5>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <p>I bet Brionna doesn’t even remember when we first met. She was a baby, so I guess I’ll give her a pass. I had the honor of getting to watch Brionna grow into a confident, driven and absolutely hilarious young woman, when I lived with my aunt and uncle in Florida. She is a sophomore in high school whose self-described interests include: offensive jokes, spongebob memes, conspiracy theories, and reading.
                    </div>
                    <div class="col-md-2  col-md-push-4">
                        <div class="row">
                            <img src="{{ url_for('static',filename='img/ryan1.jpg') }}" class="img-round-small"/>
                        </div>
                        <div class="row">
                            <h5 class="party-name">Ryan: Groomsman</h5>
                        </div>
                    </div>
                    <div class="col-md-4 col-md-pull-2">
                        <p>Ryan is actually Dawn’s younger cousin, who I first met in 2013 after years of playing xbox together. Since then we've gone on some cool adventures and I look forward to many more. Ryan is in the 8th grade. He enjoys hockey, video games, and spending time with friends and family. In addition to Ryan’s title as Groomsman, he will also be the “Keeper of the Dog” for Dacks, a role he’s pretty excited about.
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-md-2 col-md-offset-3">
                            <div class="row">
                                <img src="{{ url_for('static',filename='img/dacks1.jpg') }}" class="img-round-small"/>
                            </div>
                            <div class="row">
                                <h5 class="party-name">Dacks: Best Dog</h5>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <p>Dacks is our kelpie border-collie that we adopted in the summer of 2015. He is a cheese connoisseur who is passionate about tennis balls. In the future he hopes to take his instragram game to the next level with a career in modelling. In his free time he enjoys hiking, kayaking, taking up the entire bed, looking sad in order to acquire pity cheese, and cuddling up next to his  Lambchop. 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="wedding" class="content-section text-center">
        <div class="section-default white-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <h2>Events</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        {% if false %}
                        <p>Check back after you receive the invitations for more details.***
                        <p>The ceremony and reception will take place during the afternoon and evening of Saturday, September 30th, 2017. 
                        <p>An after-party will likely follow in Lake Placid.
                        <p>***Exact time and schedule will be updated when we finalize the details. 
                        {% endif %}
                        <h4 class="h-coming-soon"> Details coming soon!<br>Please check back later.</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section id="travel" class="content-section text-center">
        <div class="section-default white-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>Travel & Lodging</h2>
                    </div>
                </div>
                {% if false %}}
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                    <p>The wedding weekend is situated at the peak of the fall foliage, and might coincide with the area's Oktoberfest, so we recommend booking your accomodations as soon as you feel comfortable, so you'll have the most options available to you. 
                    <p>For your convenience, we have blocked out (##) rooms at the (HOTEL NAME) Friday September 29th, and Saturday September 30th, though you don’t have to stay both nights. (HOTEL NAME) is located in downtown Lake Placid, offering a central location to most of the area’s activities, shops, and restaurants.  Please note that all rooms that are not reserved by (DATE) will be released. Please mention the Pulver wedding when booking, and use group code (CODE). 
                    <p>The <a href="https://www.google.com">(HOTEL NAME)</a> is definitely not the only option for lodging in the area. There are many other hotel, motel and inn options located in the area. Vacation rental properties are available through VRBO, or Adirondack by Owner. There are smaller cabin rentals available through the Adirondack Mountain Club as well, and room options available through AirBNB. (Please see links below)
                    </div>                    
                </div>
                <div class="row">
                    <div class="col-md-2 col-md-offset-1">
                        <a href="http://www.hotelnorthwoods.com"><img  class="img-logo" src="{{ url_for('static',filename='img/HOTELNORTHWOODS.png') }}"></a>
                    </div>
                    <div class="col-md-2">
                        <a href="https://www.airbnb.com"><img  class="img-logo" src="{{ url_for('static',filename='img/AIRBNB.png') }}"></a>
                    </div>
                    <div class="col-md-2">
                        <a href="http://www.adk.org/page.php?pname=heart-lake-cabins"><img  class="img-logo" src="{{ url_for('static',filename='img/ADKMTNCLUB.png') }}"></a>
                    </div>
                    <div class="col-md-2">
                        <a href="http://www.adkbyowner.com/search/Vacation-Rentals.html"><img  class="img-logo" src="{{ url_for('static',filename='img/ADKBYOWNER.png') }}"></a>
                    </div>
                    <div class="col-md-2">
                        <a href="https://www.vrbo.com"><img  class="img-logo" src="{{ url_for('static',filename='img/VRBO.png') }}"></a>
                    </div>
                </div>
                {% endif %}
                <h4 class="h-coming-soon"> Details coming soon!<br>Please check back later.</h4>
            </div>
        </div>
    </section>
    
    <section id="activities" class="content-section text-center">
        <div class="section-default white-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Activities</h2>
                        </div>
                    </div>
                    <h4 class="h-coming-soon"> Details coming soon!<br>Please check back later.</h4>
                </div>
            </div>
        </div>
    </section>
    
    <section id="faq" class="content-section text-center">
        <div class="section-default white-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>FAQ</h2>
                        </div>
                    </div>
                    <h4 class="h-coming-soon"> Details coming soon!<br>Please check back later.</h4>
                </div>
            </div>
        </div>
    </section>

    <section id="registry" class="content-section text-center">
        <div class="section-default white-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Registry</h2>
                        </div>
                    </div>
                    <h4 class="h-coming-soon"> Details coming soon!<br>Please check back later.</h4>
                </div>
            </div>
        </div>
    </section>
    
    <section id="contact" class="content-section text-center">
        <div class="section-default white-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Contact</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 center-text">
                            Aaron Pulver<br>
                            (585)-690-9803<br>
                            aaron.t.pulver@gmail.com
                        </div>
                        <div class="col-md-4 center-text">
                            <br>
                        </div>
                        <div class="col-md-4 center-text">
                            Dawn Jones<br>
                            (386)-279-2629<br>
                            dawnmjones3@gmail.com
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; Aaron Pulver 2016</p>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{{ url_for('static',filename='js/jquery.js')}}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static',filename='js/bootstrap.min.js')}}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ url_for('static',filename='js/jquery.easing.min.js')}}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ url_for('static',filename='js/theme.js')}}"></script>

</body>

</html>
